
homework/.ipynb_checkpoints/Day_025_HW-checkpoint.ipynb
*.csv
.DS_Store
homework/.ipynb_checkpoints/Day_014_EDA_subplots-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_014_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_015_EDA_heatmap-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_015_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_016_first_model-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_017_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_017_Introduction_of_Feature Engineering-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_018_Feature_Types-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_018_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_019_Fill_NaN_and_Scalers-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_019_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_020_HW-checkpoint.ipynb
*.ipynb
